<ul>
  <li><a routerLink="/" fragment="mfe1">mfe1</a></li>
  <li><a routerLink="/" fragment="mfe2WithRouting">mfe2WithRouting</a></li>
  <li><a routerLink="/" fragment="mfe3">mfe3</a></li>
  <li><a routerLink="/" fragment="link4">link4 in mfe3</a></li>
  <li><a routerLink="/" fragment="link5">link5 in mfe3</a></li>
</ul>
<main class="main">
  <h1>Hello, {{ title }}</h1>
  <router-outlet/>
  <router-outlet name="mfe1" id="mfe1"/>
  <router-outlet name="mfe2WithRouting" id="mfe2WithRouting"/>
  <router-outlet name="mfe3" id="mfe3"/>
</main>
